# when you run flask locally, many files get generated automatically. 
# That's cool but when it comes to docker its kind of pain in the @$$ because they get generated under specific permissions and when 
# you start the docker image it wont run and you will get a wonderful error => PermissionError: [Errno 13] Permission denied
# that's why I used dockerignore.

src/venv
src/conf
src/rdfData
src/__pycache__
