<!DOCTYPE html>
<html lang="de">

  <head>
    <title>QEnable</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="loading-spinner" class="loading-spinner" style="display: none"></div>

    <div class="container">
      <div class="p-5 text-center bg-dark bg-gradient text-white">
        <h1 class="mb-3">QEnable</h1>
      </div>

      <div class="row">
        <div class="col">
          <div class="p-2 text-left bg-light bg-gradient">
            <h5 class="">Quelle</h5>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="url" placeholder="URL">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="file-name" placeholder="Dataset name">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="p-2 text-left bg-light bg-gradient">
            <h5 class="">Mapping</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="preset-radio" id="preset" disabled>
              <label class="form-check-label" for="preset-radio">Preset</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="custom-radio" id="custom" checked disabled>
              <label class="form-check-label" for="custom-radio">Custom</label>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="p-2 text-left bg-light bg-gradient">
            <h5 class="">RDF Collection</h5>
            <p> placeholder for ??? Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo </p>
          </div>
        </div>

        <div class="col" id="js-login-wrapper">
          <div class="p-2 text-left bg-light bg-gradient">
            <h5 class="">QAnswer login data</h5>
            <div class="input-group mb-3">
              <span class="input-group-text">Username</span>
              <input type="text" class="form-control" aria-label="Username" name="username" id="username">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Password</span>
              <input type="password" class="form-control" name="password" aria-label="password" id="password">
            </div>
            <button type="submit" class="btn btn-md btn-block btn-dark" id="js-account-check">Login</button>

            <hr class="mt-4">
            <div class="col-12">
              <p class="text-center mb-0">Dont have an account yet? <a href="https://qanswer-frontend.univ-st-etienne.fr/user/signup">Signup</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-3 col-6 mx-auto">
        <button type="button" class="btn btn-sm btn-primary" id="js-process-launcher" disabled>Start Process!</button>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.bootstrap-growl.min.js')}}"></script>

</html>
