body {
    background-color: #1d2130;
    color: #e4ebf2;
    font-family: Lucida Console;
}

section {
    height: 350px;
    background-color: #293145; 
    padding: 5px;
    width: 300px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#url-input {

}

.url {
   margin: 5px;
   width: 200px;
}

.getRdfButton {
    margin : auto;

}

