body {
    background-color: #1d2130;
    color: #e4ebf2;
    font-family: Lucida Console;
}

.header{
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-item {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #293145;
}

.option-card {
    height: 350px;
    padding: 5px;
    margin: 2px;
    
}

#url-input {

}

.url {
   margin: 5px;
   width: 200px;
}

.getRdfButton {
    margin : auto;

}

.footer {
    text-align: center;
    height: 30px;
    margin: 2px, 5px, 0px, 2px;
    
}

.senken-label {
width: 50px;
}

.startButton {
margin-top: 5px;
}

