"""
    QAnswer: Api Documentation

    APIs provided by QAnswer  # noqa: E501

    The version of the OpenAPI document: 1.0
    Contact: info@qanswer.eu
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from qa_client.api_client import ApiClient, Endpoint as _Endpoint
from qa_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from qa_client.model.qa_contexts import QaContexts
from qa_client.model.qa_table import QaTable


class AnswerControllerApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.answer_context_using_get_endpoint = _Endpoint(
            settings={
                'response_type': (QaContexts,),
                'auth': [
                    'JWT'
                ],
                'endpoint_path': '/api/answer/context',
                'operation_id': 'answer_context_using_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'sparql_query',
                    'kb',
                    'lang',
                    'timeout',
                    'user',
                ],
                'required': [
                    'sparql_query',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'sparql_query':
                        (str,),
                    'kb':
                        (str,),
                    'lang':
                        (str,),
                    'timeout':
                        (int,),
                    'user':
                        (str,),
                },
                'attribute_map': {
                    'sparql_query': 'sparqlQuery',
                    'kb': 'kb',
                    'lang': 'lang',
                    'timeout': 'timeout',
                    'user': 'user',
                },
                'location_map': {
                    'sparql_query': 'query',
                    'kb': 'query',
                    'lang': 'query',
                    'timeout': 'query',
                    'user': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )
        self.table_context_using_get_endpoint = _Endpoint(
            settings={
                'response_type': (QaTable,),
                'auth': [
                    'JWT'
                ],
                'endpoint_path': '/api/answer/table',
                'operation_id': 'table_context_using_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'sparql_query',
                    'kb',
                    'lang',
                    'limit',
                    'offset',
                    'timeout',
                    'user',
                ],
                'required': [
                    'sparql_query',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'sparql_query':
                        (str,),
                    'kb':
                        (str,),
                    'lang':
                        (str,),
                    'limit':
                        (int,),
                    'offset':
                        (int,),
                    'timeout':
                        (int,),
                    'user':
                        (str,),
                },
                'attribute_map': {
                    'sparql_query': 'sparqlQuery',
                    'kb': 'kb',
                    'lang': 'lang',
                    'limit': 'limit',
                    'offset': 'offset',
                    'timeout': 'timeout',
                    'user': 'user',
                },
                'location_map': {
                    'sparql_query': 'query',
                    'kb': 'query',
                    'lang': 'query',
                    'limit': 'query',
                    'offset': 'query',
                    'timeout': 'query',
                    'user': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json'
                ],
                'content_type': [],
            },
            api_client=api_client
        )

    def answer_context_using_get(
        self,
        sparql_query,
        **kwargs
    ):
        """Given a SPARQL query returns all information about the answer entities like label, description, images ...   # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.answer_context_using_get(sparql_query, async_req=True)
        >>> result = thread.get()

        Args:
            sparql_query (str): sparqlQuery

        Keyword Args:
            kb (str): kb. [optional] if omitted the server will use the default value of "wikidata"
            lang (str): lang. [optional] if omitted the server will use the default value of "en"
            timeout (int): timeout. [optional] if omitted the server will use the default value of 7
            user (str): user. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            QaContexts
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['sparql_query'] = \
            sparql_query
        return self.answer_context_using_get_endpoint.call_with_http_info(**kwargs)

    def table_context_using_get(
        self,
        sparql_query,
        **kwargs
    ):
        """Given a SPARQL query returns the information about the answer entities in the form of a table.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.table_context_using_get(sparql_query, async_req=True)
        >>> result = thread.get()

        Args:
            sparql_query (str): sparqlQuery

        Keyword Args:
            kb (str): kb. [optional] if omitted the server will use the default value of "wikidata"
            lang (str): lang. [optional] if omitted the server will use the default value of "en"
            limit (int): limit. [optional] if omitted the server will use the default value of 25
            offset (int): offset. [optional] if omitted the server will use the default value of 0
            timeout (int): timeout. [optional] if omitted the server will use the default value of 5
            user (str): user. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            QaTable
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get(
            'async_req', False
        )
        kwargs['_return_http_data_only'] = kwargs.get(
            '_return_http_data_only', True
        )
        kwargs['_preload_content'] = kwargs.get(
            '_preload_content', True
        )
        kwargs['_request_timeout'] = kwargs.get(
            '_request_timeout', None
        )
        kwargs['_check_input_type'] = kwargs.get(
            '_check_input_type', True
        )
        kwargs['_check_return_type'] = kwargs.get(
            '_check_return_type', True
        )
        kwargs['_spec_property_naming'] = kwargs.get(
            '_spec_property_naming', False
        )
        kwargs['_content_type'] = kwargs.get(
            '_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        kwargs['sparql_query'] = \
            sparql_query
        return self.table_context_using_get_endpoint.call_with_http_info(**kwargs)

