# QaResult


## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**answer** | **bool** |  | [optional] 
**interpretation** | **str** |  | [optional] 
**json_result** | **str** |  | [optional] 
**knowledgebases** | **[str]** |  | [optional] 
**languages** | **[str]** |  | [optional] 
**qa_contexts** | [**QaContexts**](QaContexts.md) |  | [optional] 
**queries** | [**[QaSparql]**](QaSparql.md) |  | [optional] 
**question** | **str** |  | [optional] 
**any string name** | **bool, date, datetime, dict, float, int, list, str, none_type** | any string name can be used but the value must be the correct type | [optional]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


